:root{

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #293241;


}





body{
  
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
    
}

nav{
    display: flex;
    justify-content: center;
    padding: 0 24px;
    background-color: var(--blue);
    color: var(--white);
    
}

.logo{
    width: 32px;
    height: 40px;
    margin-top: 10px;
    justify-content: left;
    align-items: center;
}

.navbar-left ul,
    .navbar-right ul {
      list-style: none;
      padding: 0 24px;
      margin: 0;
      display: flex;
      align-items: center;
      height: 60px;
    }

.navbar-left {
        display: flex;
      }

.navbar-left ul 
.navbar-right ul
    {
        margin-left: 20px;

    }

.navbar-left ul li a
       {
        text-decoration: none;
        color: var(--very-light-pink);
        padding: 8px;
        border-radius: 8px;
        margin-left: 20px;

      }

    



